
.hero {
    max-width: 1600px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../imeges/m_hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    @media screen and(min-width:768px) {
      background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../imeges/t_hero.jpg);
    }
    @media screen and(min-width:1200px) {
      background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../imeges/d_hero.jpg);
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &__title{
      font-family: 'Roboto';
      color: var(--white-text);
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      font-size: 26px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;

      @media screen and (min-width:1200px) {
        font-size: 44px;
      }
    }
  }

  