
  .contacts-header{
    @media screen and (max-width: 767px) {
      display: none;
      }

    display: flex;
    margin-left: auto;
      &__link{
        display: flex;
        align-items: center;  
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        color: var(--text-color-light-grey);
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      &__link:hover,
      &__link:focus{
        color: var(--accent-color);
      }
      &__item{
        margin-right: 50px;
        align-items: center;
        }
      &__item:last-child{
        margin-right: 0px;    
      }
      &__link:hover &__icon,
      &__link:focus &__icon{
         color: var(--accent-color);
         fill: var(--accent-color);
      }
      &__icon{
        display: flex;
        align-items: center;
        margin-right: 10px;
        fill: currentColor;
      
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__icon:hover,
      &__icon:focus{
      fill: var(--accent-color)
      }
      @media screen and (min-width:768px) and (max-width:1199px) {
        display: block;
        padding: 0;
        &__link{
          padding: 0; 
        }
        &__item:not(:last-child){
        padding-bottom: 10px;
        margin-right: 0;
        }
      }
    }    
.contacts-footer {
    font-style: normal;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white-text);
    
      &__item:not(:last-child){
      margin-bottom: 9px;
      }
      &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: var(--text-color-light-grey);
    
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__link:hover,
      &__link:focus{
      color: var(--accent-color);
      }
      &__link:hover &__icon,
      &__link:focus &__icon{
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  .contacts-footer__list{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width:1200px){
      align-items: stretch;
    }
  }
