.form-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;   
    width: 100%; 
    
    @media screen and(min-width:1200px) {
      margin-left: 92px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch; 
    }

    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /*width: 358px;*/
      /*margin-right: 12px;*/

      @media screen and (min-width:1200px){
        display: block;
      }
    }
    &__title{
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    }    
    &__input{
      width: 100%;
      margin-top: 20px;
      padding-left: 16px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0);
      font-size: 16px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: var(--white-text);

      @media screen and(min-width:768px) {
        width: 450px;
     }

      @media screen and(min-width:1200px) {
         width: 358px;
      }
    }
    &__input::placeholder{
      font-size: 16px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .footer .button-main{
    /*margin: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 28px;

    @media screen and(min-width:1200px) {
      align-self: flex-end;
      margin: 0;
    }
  }
  .button-main__icon-send{
    margin-left: 10px;
    
  }