
.logo {
    
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    color: var(--logo-color-dark);
    line-height: 1.17;
     
    @media screen and(min-width: 1200px){
      margin-right: 88px;  
    }

     }
  .logo--white{
    color: var(--white-text);
  }
  .logo__part {
    color: var(--accent-color);
  }
  .header-nav .logo{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 15px;
  }
