.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    min-height: 406px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(min-width:480px) {
      min-width: 450px;
      min-height: 609px; 
    }

    @media screen and(min-width:1200px) {
      min-width: 528px;
      min-height: 581px; 
    }
  }
  .is-hidden{
    opacity: 0;
    pointer-events: none;
  }
  /*кнопка модального окна*/
  .button-modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--conteiner-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .img-close,
    &:focus .img-close{
      fill: var(--accent-color)
    }
  }
  .img-close{
    justify-content: center; 
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  