 /*скрываем синий оверлей на части катрочки с подписью*/
 .projects-list__link {
    overflow: hidden;
    &:hover  .projects-list__overlay-text,
    &:focus  .projects-list__overlay-text{
    transform: translateY(-100%);
    }
  }
  .projects-list__img{
    position: relative;
    overflow: hidden;
   }
  /*текст и оверлей */
    .projects-list__overlay-text{
      position: absolute;
      display: flex;
      overflow: auto;
      height: 100%; 
      padding-left: 24px;
      padding-right: 24px;
      align-items: center;
      font-size: 14px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      background-color: rgba(33, 150, 243, 0.9);
      color: var(--white-text);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      @media screen and (min-width:480px) {
        font-size: 18px;
      }

    }  
    
  .projects-list{
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;    
  }
  }
  .projects-list__item{
    margin-top: 30px;
      @media screen and (min-width:768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;      
    }

    @media screen and (min-width:1200px) {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;      
    }
  }
  .projects-list__link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
  
  .projects-list__card-description{
    background-color: #ffffff;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;

    @media screen and (min-width:768px) and (max-width: 1199px) {
      padding-right: 25px;    
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  
  .projects-list__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--text-color-dark-grey);
    margin-bottom: 4px;
    
    @media screen and (min-width:768px) and (max-width: 1199px) {
      padding-right: 25px;
    }


  }
  .projects-list__type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color-light-grey);
  }
  .fill {
    object-fit: cover;
  }